/* 
  index.css
  ──────────
  Global stylesheet for PAUSE web app.
  Includes Tailwind base, components, and utilities.
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  height: 80vh !important;
  width: 100% !important;
  border-radius: 1rem;
  border: 1px solid #e5e7eb; /* gray-200 */
  z-index: 0;
}